@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f1f1f1;
}

header {
  background-color: #40C7CA;
  color: white;
  padding: 4em;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  margin: 0.7em;
}

input {
  padding: 0.5em;
  border-radius: 3px;
  border: none;
}


input[type=text] {
  padding: 0.5em;
  width: 60%;
}

input[type=submit] {
  background-color: #34495e;
  color: white;
}

li {
  list-style: none;
  color: white;
}

.results {
  width: 60%;
  margin: auto;
}

.articleClass {
  background-color: #00A5A8;
  margin: 0.7em;
  padding: 0.5em;
  border-radius: 3px;
}